# Dependencies
node_modules
.pnpm-store
**/node_modules

# Build outputs
dist
.next
out
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
coverage

# Turbo
.turbo
